<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="main_re.css">
  
  <script src="https://kit.fontawesome.com/59d987397c.js" crossorigin="anonymous"></script>
  <title>PlayPort</title>
</head>
<body>
  <div class="container">
    <div class="libre-bask heading">
      <h1>
        <p>Your favorite <span class="libre-bask-italic">playlists.</span
        ></p>
        <p>Everywhere you <span class="libre-bask-italic">stream.</span>
        </p>
      </h1>
    </div>
   
    <div class="button">
      <button class="libre-bask"> Get started </button>
    </div>
  </div>
  
  
  
  <div class="stepper">
  <div class="step active">
    <div class="circle">1</div>
    <div class="label">Start</div>
  </div>
  <div class="step">
    <div class="circle">2</div>
    <div class="label">Details</div>
  </div>
  <div class="step">
    <div class="circle">3</div>
    <div class="label">Review</div>
  </div>
  <div class="step">
    <div class="circle">4</div>
    <div class="label">Finish</div>
  </div>
  
</body>



